/* Colors*/
$orange-primary-light: #ff7c1e;
$orange-hover: #d75e06;
$black-secondary-light: #161616;
$error: #fa3c6a;
$success: #00ba88;
$gray-sub-text: #a6a6a6;
$gray-disabled: #d9d9d9;
$off-white: #f5f5f5;
$white: #fff;
$rose: #ffe5d1;
$black: #000;
$off-black: #000;
$black-disabled: #393939;
$sub-text: #676767;

/*Border Radius*/
$radius-xl: 32px;
$radius-l: 24px;
$radius-m: 16px;
$radius-s: 8px;

/*Shadow*/
$soft-drop-shadow: 1px 2px 12px 0 rgba(17, 17, 17, 0.08);
$hard-drop-shadow: 2px 2px 16px 0 rgba(0, 0, 0, 0.12);
